<!DOCTYPE html>  
<html lang="fa">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../css/cer/styles.css">  
    <title>Certificate</title>  
</head>  
<body>  

    <div class="certificate">  
        <div class="header">  
            <div class="logo">Namatek</div>  
            <div class="subtitle">True Education</div>  
        </div>  
        <div class="date">January 01, 2020</div>  
        <div class="name">MR. محمدرضا احمدی</div>  
        <div class="completion">has successfully completed</div>  
        <div class="course">Instrumentation</div>  
        <div class="description">  
            A 90 hours online non-credit course authorized by Namatek. The following subjects were covered in this course:  
            <ul>  
                <li>Field Instruments</li>  
                <li>Industrial Valves</li>  
                <li>Junction Box & Cables</li>  
                <li>F & G System</li>  
                <li>Hook-up Installation</li>  
                <li>Control Strategies</li>  
                <li>Safety Standards</li>  
                <li>Calibration</li>  
                <li>PBID</li>  
                <li>Documentations</li>  
            </ul>  
        </div>  
        <div class="signatures">  
            <div class="signature">  
                <span>باراد لطفی</span><br>  
                <span>Department of Instrumentations</span><br>  
                <span>Namatek</span>  
            </div>  
            <div class="signature">  
                <span>مجید خدنی</span><br>  
                <span>Training Division Manager</span><br>  
                <span>Namatek</span>  
            </div>
            <div class="verify">  
                Verify at <a href="www.namatek.com/verify/INS225643">www.namatek.com/verify/INS225643</a>  
            </div>   
        </div>  
         
        <div class="badge">  
            <div class="level">LEVEL 1</div>  
            <div class="cert-text">COURSE CERTIFICATE</div>  
        </div>  
    </div>  
</body>  
</html>